fastapi>=0.110.0
uvicorn>=0.28.0
pydantic>=2.6.0

pypdf>=4.0.0
# watchfiles==0.22.0
langchain-text-splitters>=0.0.1
python-multipart>=0.0.5
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
python-dotenv
aiohttp
langchain_google_genai
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-mongodb